// @import 'normalize';
@import 'vars';

$mapElBorder: 2px solid rgba(0,0,0,0.2);
$mapElBorderRadius: 4px;
$mapElMargin: 10px;

$mapElFont: bold 14px 'Lucida Console', Monaco, monospace;

@import 'base';
@import 'leaflet';

#info {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 500;
	background-color: #fff;
	border: $mapElBorder;
	border-radius: $mapElBorderRadius;
	margin-top: $mapElMargin;
	margin-right: $mapElMargin;
	font: $mapElFont;
}
#times {
  border-collapse: collapse;
	td {
		padding: 5px 5px 3px;
	}
	.icon {
		width: 36px;
		padding-right: 0;
	}
	tr {
    border: 1px solid #ccc;
	}
}

.openspace-attr {
	width: 45px;
}